{
  "plugins": [
    "prettier-plugin-tailwindcss",
    "prettier-plugin-go-template"
  ],
  "overrides": [
    {
      "files": [
        "*.html"
      ],
      "options": {
        "parser": "go-template",
        "goTemplateBracketSpacing": true,
        "bracketSameLine": true
      }
    },
    {
      "files": [
        "*.js",
        "*.ts"
      ],
      "options": {
        "useTabs": false,
        "tabWidth": 2,
        "printWidth": 120,
        "singleQuote": true
      }
    }
  ]
}
