<meta name="application-name" content="{{ .Site.Params.app.title | default .Site.Title }}" />
<meta name="apple-mobile-web-app-title" content="{{ .Site.Params.app.title | default .Site.Title }}" />

{{ if .Params.title }}
  <meta name="title" content="{{ .Params.title }}" />
{{ else }}
  <meta name="title" content="{{ .Title }}" />
{{ end }}

{{ if .Params.description }}
  <meta name="description" content="{{ .Params.description }}" />
{{ else }}
  <meta name="description" content="{{ .Site.Params.Description }}" />
{{ end }}

{{- with .Site.Params.app.themeColor -}}
  <meta name="theme-color" content="{{ . }}" />
{{- end -}}
