<script
  defer
  src="https://cdn.jsdelivr.net/npm/@alpinejs/intersect@3.13.10/dist/cdn.min.js"></script>
<script
  defer
  src="https://cdn.jsdelivr.net/npm/@alpinejs/collapse@3.13.10/dist/cdn.min.js"></script>
<script
  defer
  src="https://cdn.jsdelivr.net/npm/alpinejs@3.13.10/dist/cdn.min.js"></script>
<script>

  let _initDarkMode = localStorage.getItem("color-theme") === "dark" || (!("color-theme" in localStorage) && window.matchMedia("(prefers-color-scheme: dark)").matches);

  if (_initDarkMode) {
    document.documentElement.classList.add("dark");
  } else {
    document.documentElement.classList.remove("dark");
  }

  let _enableBgImg = "{{ .Site.Params.backgroundImage.enable | default true }}" === "true";
  let _lightbgImg = '{{ .Site.Params.backgroundImage.light | default "/images/default/bg.svg" }}';
  let _darkbgImg = '{{ .Site.Params.backgroundImage.dark | default "/images/default/bg-dark.svg" }}';

  if (_enableBgImg) {
    let _lightbg = new Image();
    let _darkbg = new Image();
    _lightbg.src = _lightbgImg;
    _darkbg.src = _darkbgImg;
  }

  document.addEventListener("alpine:init", () => {
    Alpine.store("darkMode", {
      on: _initDarkMode,
      animate: '{{ .Site.Params.disableDarkAnimate | default false }}' === 'false',

      initDark: _initDarkMode,
      initLight: !(_initDarkMode),
      toDarkAnimate: false,
      toLightAnimate: false,

      toggle() {
        this.on = !this.on;

        this.toDarkAnimate = this.animate && this.on && this.initLight;
        this.toLightAnimate = this.animate && !this.on && this.initDark;

        if (this.on) {
          document.documentElement.classList.add("dark");
          localStorage.setItem("color-theme", "dark");
        } else {
          document.documentElement.classList.remove("dark");
          localStorage.setItem("color-theme", "light");
        }

      },
    });

    Alpine.store('bgImg', {
      on: _enableBgImg,
      light: _lightbgImg,
      dark: _darkbgImg,
      bgImg: Alpine.store('darkMode').on ? this.dark : this.light, // 初始值

      init() {
        if (!this.on) {
          this.light = "";
          this.dark = "";
        }
        this.updateBgImg();
        // 监听 darkMode 的变化
        Alpine.effect(() => {
          this.updateBgImg();
        });
      },

      updateBgImg() {
        if (this.on) {
          const darkModeOn = Alpine.store('darkMode').on;
          this.bgImg = darkModeOn ? this.dark : this.light;
        } else {
          this.bgImg = "";
        }
      }
    });

  });
</script>
