{{ $allPages := .Site.Pages }}
{{ with .Site.Params.home.showContentTypes }}
  {{ $allPages = where $allPages "Type" "in" . }}
{{ end }}
{{ $lastestPosts := first 6 (where $allPages "IsPage" true) }}


<div
  class="mx-auto grid w-full grid-cols-1 gap-1 md:grid-cols-2 lg:grid-cols-3">
  {{ range $lastestPosts }}
    <div class="h-80 w-full items-stretch px-8 py-2 md:px-4">
      <a href="{{ .Permalink }}" class="group relative block h-full w-full">
        <span
          class="absolute inset-0 rounded-lg border-2 border-dashed border-black dark:border-gray-400"></span>
        <div
          class="relative flex h-full transform items-end rounded-lg border border-black bg-white/50 backdrop-blur-sm transition duration-300 hover:backdrop-blur-md group-hover:-translate-x-2 group-hover:-translate-y-2 dark:border-gray-400 dark:bg-gray-800/70">
          <div
            class="p-4 !pt-0 transition-opacity group-hover:absolute group-hover:opacity-0 sm:p-6 lg:p-8">
            {{ if .Params.emoji }}
              <p class="text-4xl sm:text-5xl">
                {{ .Params.emoji | .RenderString }}
              </p>
            {{ else }}
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="size-9 sm:size-12 dark:text-gray-400"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor">
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M3.055 11H5a2 2 0 012 2v1a2 2 0 002 2 2 2 0 012 2v2.945M8 3.935V5.5A2.5 2.5 0 0010.5 8h.5a2 2 0 012 2 2 2 0 104 0 2 2 0 012-2h1.064M15 20.488V18a2 2 0 012-2h3.064M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
              </svg>
            {{ end }}


            <h2 class="mt-4 text-xl font-medium sm:text-2xl dark:text-gray-400">
              {{ .Title }}
            </h2>
          </div>

          <div
            class="absolute p-4 opacity-0 transition-opacity group-hover:relative group-hover:opacity-100 sm:p-6 lg:p-8">
            <p class="mt-8 font-serif dark:text-gray-400">
              {{ .Date.Format "2006/01/02" }}
            </p>
            <h3
              class="mt-4 text-balance text-xl font-medium sm:text-2xl dark:text-gray-100">
              {{ .Title }}
            </h3>

            <p
              class="mt-4 line-clamp-2 text-pretty font-serif text-sm italic tracking-wider sm:text-base dark:text-gray-400">
              {{ .Description }}
            </p>
          </div>
        </div>
      </a>
    </div>
  {{ end }}
</div>
