<!doctype html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      id="viewport"
      content="width=device-width, initial-scale=1.0" />
    <title>
      {{ block "title" . }}
        {{- if .IsHome -}}
          {{ .Site.Title }}
        {{- else -}}
          {{ if .Data.Plural }}
            {{ .Title }} - {{ .Data.Plural }} |
            {{ .Site.Title }}
          {{ else }}
            {{ .Type }} |
            {{ .Site.Title }}
          {{ end }}
        {{- end -}}
      {{ end }}
    </title>

    {{- partial "head/meta.html" . -}}
    {{- block "extra_meta" . }}{{- end }}
    {{- partial "head/hook_before_link.html" . -}}
    {{- partial "head/link.html" . -}}
    {{- partial "head/font_link.html" . -}}
    {{- block "extra_link" . }}{{- end }}
    {{- partial "head/hook_after_link.html" . -}}
    {{- partial "head/script.html" . -}}
    {{- block "extra_script". }}{{- end }}


    <style>
      [x-cloak] {
        display: none !important;
      }
    </style>
  </head>

  <body
    x-ref="body"
    x-data="{ 
      shrink: false,
      scrollY: 0,
      bgOpen: {{ .Site.Params.background.enable }},
    }"
    @scroll.window="shrink = (window.scrollY > 10 ? true : false)"
    :style="'background-image: ' + 'url(' + $store.bgImg.bgImg + ')'"
    :class="{'bg-white': !bgOpen, 'dark:bg-gray-900': !bgOpen, 'bg-cover': bgOpen, 'bg-fixed': bgOpen, 'dark:delay-300': $store.darkMode.animate}"
    class="flex h-screen flex-col scroll-auto">
    <!-- 默认为白天模式，点击🌛，白转黑 -->
    <!-- toDarkAnimate: true -> 白转黑 -->
    <!-- toDarkAnimate: false -> 黑转白 -->
    <div
      x-show="$store.darkMode.toDarkAnimate"
      x-cloak
      x-transition:enter="animate-bgScaleInTr"
      x-transition:leave="animate-bgScaleOutTr"
      x-init="$watch(
        '$store.darkMode.toDarkAnimate', (value) => {
          if (bgOpen) {
            $el.style.backgroundImage = 'url(' + $store.bgImg.dark + ')'
            if (value) {
              setTimeout(() => {
                $el.style.backgroundImage = 'url(' + $store.bgImg.dark + ')'
              }, 300)
            } 
          } else {
            $el.classList.remove('bg-white');
            $el.classList.add('bg-gray-900')
            $el.classList.add('dark:bg-gray-900')
          }
        }
      )"
      :style="'background-image: ' + 'url(' + $store.bgImg.dark + ')'"
      :class="{'bg-gray-900': !bgOpen,'dark:bg-gray-900': !bgOpen, 'bg-cover': bgOpen, 'bg-fixed': bgOpen}"
      class="fixed left-0 top-0 -z-10 h-full w-full"></div>
    <!-- 默认为黑夜模式，点击🌞，黑转白 -->
    <!-- toLightAnimate: true -> 黑转白 -->
    <!-- toLightAnimate: false -> 白转黑 -->
    <div
      x-show="$store.darkMode.toLightAnimate"
      x-cloak
      x-transition:enter="animate-bgScaleOutTr"
      x-transition:leave="animate-bgScaleInTr"
      x-init="$watch(
        '$store.darkMode.toLightAnimate', (value) => {
          if (bgOpen) {
            $el.style.backgroundImage = 'url(' + $store.bgImg.dark + ')'
            if (value) {
              setTimeout(() => {
                $el.style.backgroundImage = 'url(' + $store.bgImg.light + ')'
              }, 300)
            } 
          } else {
            $el.classList.remove('bg-white');
            $el.classList.add('bg-gray-900')
            if (value) {
              setTimeout(()=>{
                $el.classList.remove('bg-gray-900');
                $el.classList.add('bg-white')
              }, 300)
            } 
          }
        }
      )"
      :style="'background-image: ' + 'url(' + $store.bgImg.dark + ')'"
      :class="{'bg-gray-900': !bgOpen,'dark:bg-gray-900': !bgOpen, 'bg-cover': bgOpen, 'bg-fixed': bgOpen}"
      class="fixed left-0 top-0 -z-10 h-full w-full"></div>

    {{- partial "header/header.html" . -}}

    {{- block "main" . }}{{- end }}

    {{ if .Site.Params.enableSearch }}
      {{- partial "search.html" . -}}
    {{ end }}

    {{- partial "footer/footer.html" . -}}

    {{- block "script" . }}{{- end }}
    {{- partial "analytics.html" . -}}
  </body>
</html>
