<!doctype html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      id="viewport"
      content="width=device-width, initial-scale=1.0" />
    <title>
      {{ block "title" . }}
        {{- if .IsHome -}}
          {{ .Site.Title }}
        {{- else -}}
          {{ if .Data.Plural }}
            {{ .Title }} - {{ .Data.Plural }} |
            {{ .Site.Title }}
          {{ else }}
            {{ .Type }} |
            {{ .Site.Title }}
          {{ end }}
        {{- end -}}
      {{ end }}
    </title>

    {{- partial "head/meta.html" . -}}
    {{- block "extra_meta" . }}{{- end }}
    {{- partial "head/link.html" . -}}
    {{- block "extra_link" . }}{{- end }}
    {{- partial "head/script.html" . -}}
    {{- block "extra_script". }}{{- end }}


    <style>
      [x-cloak] {
        display: none !important;
      }
    </style>
  </head>

  <body
    x-cloak
    x-data="{ 
      bgOpen: {{ .Site.Params.background.enable }},
      newbgImg: '',
      bgImg: '',

      init() {
        if (this.bgOpen && $store.darkMode.on) {
          bgImg = '{{ .Site.Params.background.darkImg }}'
        } else if (this.bgOpen && !$store.darkMode.on) {
          bgImg = '{{ .Site.Params.background.lightImg }}'
        } else {
          bgImg = ''
        }
      },

      get bgImg () {
        return bgImg
      },

      set bgImg(v) {
        console.log('set bgImg: ', v)
        bgImg = v;
      },

      getNewBgImg() {
        return bgImg;
      },
    }"
    x-init="$watch('$store.darkMode.on', (value) => {
      if (value && bgOpen) {
        bgImg = '{{ .Site.Params.background.darkImg }}'
      } else if (!value && bgOpen) {
        bgImg = '{{ .Site.Params.background.lightImg }}'
      } 
    })"
    @click="newbgImg = getNewBgImg()"
    x-effect="$el.style.backgroundImage = 'url(' + bgImg + ')'"
    :style="'background-image: ' + 'url(' + newbgImg + ')'"
    :class="{'bg-white': !bgOpen, 'dark:bg-gray-900': !bgOpen, 'bg-cover': bgOpen, 'bg-fixed': bgOpen}"
    class="flex h-screen flex-col scroll-auto">
    {{- partial "header/header.html" . -}}

    {{- block "main" . }}{{- end }}

    {{ if .Site.Params.enableSearch }}
      {{- partial "search.html" . -}}
    {{ end }}

    {{- partial "footer.html" . -}}

    {{- block "script" . }}{{- end }}
    {{- partial "analytics.html" . -}}
  </body>
</html>
