<!DOCTYPE html>
<html class="scroll-smooth" lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" id="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>

    {{- partial "head/meta.html" . -}}
    {{- block "extra_meta" . }}{{- end }}
    {{- partial "head/link.html" . -}}
    {{- block "extra_link" . }}{{- end }}
  </head>
  <body class="flex h-screen flex-col bg-slate-200">
    {{- partial "header.html" . -}}
    <div class="grow">
      {{- block "main" . }}{{- end }}
    </div>
    {{- partial "search.html" . -}}
    {{- partial "footer.html" . -}}
    <script src="/js/script.js" defer></script>
    {{- block "script" . }}{{- end }}
  </body>
</html>
