@tailwind base;
@tailwind components;
@tailwind utilities;

/* social icon */
.ficon:hover {
  /* filter: invert(64%) sepia(91%) saturate(7473%) hue-rotate(221deg) brightness(84%) contrast(103%); */
  filter: invert(47%) sepia(69%) saturate(6446%) hue-rotate(217deg) brightness(81%) contrast(113%);
}

/* HAMBURGER MENU */
.open .hamburger-top {
  transform: rotate(45deg) translateY(4px) translateX(4px);
  background-color: #fff;
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(-4px) translateX(4px);
  background-color: #fff;
}

.theme-aside {
  @apply px-2 py-0.5 text-sm hover:rounded-md hover:border-0 hover:bg-gray-100 hover:text-blue-700;
}

.theme-toc {
  @apply block truncate px-2 py-1 text-xs hover:text-blue-700;
}

.theme-toc-active {
  @apply block truncate rounded-md border-0 bg-gray-100 px-2 py-1 text-xs text-blue-700;
}

.theme-toc-nest-1 {
  @apply pl-3;
}

.theme-toc-nest-2 {
  @apply pl-4;
}

.theme-toc-nest-3 {
  @apply pl-5;
}

.theme-toc-nest-1::before,
.theme-toc-nest-2::before,
.theme-toc-nest-3::before {
  content: "· ";
}

/* Image zoom */
.zoomIn {
  @apply animate-zoomIn;
}

.zoomOut {
  @apply animate-zoomOut;
}

/* Scrollbar */
*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-thumb {
  background: rgba(60, 60, 67, 0.4);
  border-radius: 8px;
  cursor: pointer;
}

*::-webkit-scrollbar-thumb:hover {
  background: #425aef;
  opacity: 1;
  display: block !important;
}

*::-webkit-scrollbar-track {
  background-color: #00000000;
}

/* Fix jumping scrollbar issue */
/* :root {
  scrollbar-gutter: stable;
} */

html {
  overflow-y: scroll;
}

:root {
  overflow-y: auto;
  overflow-x: hidden;
}

:root body {
  position: absolute;
}

body {
  width: 100vw;
}

@font-face {
  font-family: "post-meta";
  src: url("/font/Montserrat-SemiBold.woff2");
  font-display: swap;
}

/* Sweep To Right */
.hvr-sweep-to-right {
  /* display: inline-block; */
  /* vertical-align: middle; */
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.7s;
  transition-duration: 0.7s;
}
.hvr-sweep-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #0b9b8a;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.7s;
  transition-duration: 0.7s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-right:hover,
.hvr-sweep-to-right:focus,
.hvr-sweep-to-right:active {
  color: white;
}
.hvr-sweep-to-right:hover:before,
.hvr-sweep-to-right:focus:before,
.hvr-sweep-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
