{{ if and (gt .WordCount 300 ) (not .Params.disableToc) }}
  <div
    x-data="{ open: true }"
    class="hidden lg:sticky lg:top-28 lg:flex lg:h-96 lg:min-w-60">
    <div
      x-show="!open"
      x-cloak
      x-transition:enter="ease-in-out duration-500"
      x-transition:enter-start="opacity-0"
      x-transition:enter-end="opacity-100"
      x-transition:leave="ease-in-out duration-500"
      x-transition:leave-start="opacity-100"
      x-transition:leave-end="opacity-0"
      class="flex">
      <button
        type="button"
        @click="open = true"
        class="absolute top-5 text-gray-300 hover:text-[--hs-text-color-hover] dark:text-gray-700 dark:hover:text-gray-300">
        <span class="sr-only">Open sidebar</span>
        <svg
          class="h-7 w-7"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 -960 960 960">
          <path
            d="M80-240v-480h480v480H80Zm80-80h320v-320H160v320Zm480-320v-80h80v80h-80Zm0 400v-80h80v80h-80Zm160-400v-80h80v80h-80Zm0 200v-80h80v80h-80Zm0 200v-80h80v80h-80ZM320-480Z" />
        </svg>
      </button>
    </div>
    {{/* sidebar */}}
    <div
      @keydown.window.escape="open = false"
      x-show="open"
      class="relative z-10 w-full"
      aria-labelledby="slide-over-title"
      role="dialog"
      aria-modal="true">
      <div class="overflow-hidden">
        <div class="absolute overflow-hidden">
          <div class="pointer-events-none right-0 flex w-full">
            <div
              x-show="open"
              x-transition:enter="transform transition ease-in-out duration-500 sm:duration-700"
              x-transition:enter-start="translate-x-full"
              x-transition:enter-end="translate-x-0"
              x-transition:leave="transform transition ease-in-out duration-500 sm:duration-700"
              x-transition:leave-start="translate-x-0"
              x-transition:leave-end="translate-x-full"
              class="pointer-events-auto relative">
              <div class="flex h-full flex-col py-6 shadow-xl lg:min-w-60">
                <div class="flex items-center justify-between pr-2">
                  <h2
                    class="hs-toc-title text-base font-bold leading-6 text-gray-700 dark:text-gray-400"
                    id="slide-over-title">
                    {{ T "toc.title" }}
                  </h2>

                  <div
                    x-show="open"
                    x-transition:enter="ease-in-out duration-500"
                    x-transition:enter-start="opacity-0"
                    x-transition:enter-end="opacity-100"
                    x-transition:leave="ease-in-out duration-500"
                    x-transition:leave-start="opacity-100"
                    x-transition:leave-end="opacity-0"
                    class="flex">
                    <button
                      type="button"
                      @click="open = false"
                      class="text-gray-300 hover:text-black focus:outline-none dark:text-gray-400 dark:hover:text-gray-100">
                      <span class="sr-only">Close panel</span>
                      <svg
                        class="h-6 w-6"
                        xmlns="http://www.w3.org/2000/svg"
                        stroke="currentColor"
                        fill="currentColor"
                        viewBox="0 -960 960 960">
                        <path
                          d="M400-240v-480h480v480H400Zm80-80h320v-320H480v320Zm-240 80v-80h80v80h-80Zm0-400v-80h80v80h-80ZM80-240v-80h80v80H80Zm0-200v-80h80v80H80Zm0-200v-80h80v80H80Zm560 160Z" />
                      </svg>
                    </button>
                  </div>
                </div>
                <div class="relative mt-6 h-128 flex-1">
                  <div id="hs-toc" class="hs-toc text-sm lg:text-xs">
                    {{ .TableOfContents }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{{ end }}
