<!-- drawer component for tags -->
<div
  id="drawer-body-scrolling"
  class="fixed left-0 top-0 z-40 h-screen w-64 -translate-x-full overflow-y-auto bg-white p-4 transition-transform md:w-80 lg:w-96 dark:bg-gray-800"
  tabindex="-1"
  aria-labelledby="drawer-body-scrolling-label">
  <h5
    id="drawer-body-scrolling-label"
    class="text-base font-semibold uppercase text-gray-500 dark:text-gray-400">
    TAGS
  </h5>
  <button
    type="button"
    data-drawer-hide="drawer-body-scrolling"
    aria-controls="drawer-body-scrolling"
    class="absolute end-2.5 top-2.5 inline-flex h-8 w-8 items-center justify-center rounded-lg bg-transparent text-sm text-gray-400 hover:bg-gray-200 hover:text-gray-900 dark:hover:bg-gray-600 dark:hover:text-white">
    <svg
      class="h-3 w-3"
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 14 14">
      <path
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
    </svg>
    <span class="sr-only">Close tags</span>
  </button>

  <div class="overflow-y-auto py-3">
    <div class="flex flex-wrap justify-center gap-2 p-3">
      {{ range .Site.Taxonomies.tags }}
        <a
          href="{{ .Page.Permalink }}"
          class="group flex items-center rounded-lg border p-2 text-xs text-gray-900 hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">
          <span class="flex-1 whitespace-nowrap">{{ .Page.Title }}</span>
          <span
            class="ms-2 inline-flex h-2 w-2 items-center justify-center rounded-full bg-blue-100 p-2 text-xs font-medium text-blue-800 dark:bg-blue-900 dark:text-blue-300"
            >{{ .Count }}</span
          >
        </a>
      {{ end }}
    </div>
  </div>
</div>
