<!-- drawer component for toc -->
<div
  id="drawer-body-scrolling-toc"
  class="fixed left-0 top-0 z-40 h-screen w-64 -translate-x-full overflow-y-auto bg-white p-4 transition-transform dark:bg-gray-800 md:w-80 lg:w-96"
  tabindex="-1"
  aria-labelledby="drawer-body-scrolling-toc-label">
  <h5
    id="drawer-body-scrolling-toc-label"
    class="text-base font-semibold text-gray-500 dark:text-gray-400">
    On this page
  </h5>
  <button
    type="button"
    data-drawer-hide="drawer-body-scrolling-toc"
    aria-controls="drawer-body-scrolling-toc"
    class="absolute end-2.5 top-2.5 inline-flex h-8 w-8 items-center justify-center rounded-lg bg-transparent text-sm text-gray-400 hover:bg-gray-200 hover:text-gray-900 dark:hover:bg-gray-600 dark:hover:text-white">
    <svg
      class="h-3 w-3"
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 14 14">
      <path
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
    </svg>
    <span class="sr-only">Close menu</span>
  </button>
  <div class="overflow-y-auto py-4">
    {{ .TableOfContents }}
  </div>
</div>
