<section
  id="menu-section"
  class="{{ if .IsHome }}h-[560px] shrink-0 bg-cover{{ end }} bg-white "
  {{ if .IsHome }}
    {{ $image := resources.Get .Site.Params.hero.img }}
    {{ with $image }}
      style="background-image: url('{{ .Permalink }}');"
    {{ end }}
  {{ end }}
>
  <nav class="container mx-auto flex h-20 max-w-[85rem] flex-col justify-center px-2">
    <!-- Flex Container For Nav Items -->
    {{ $logoInfo := .Site.Params.logo }}
    {{ $logoH := "h-16" }}
    {{- with $logoInfo.img_height -}}
      {{ $logoH = printf "h-[%s]" . }}
    {{- end -}}
    <div class="{{ $logoH }} flex w-full items-center justify-between">
      <!-- Logo -->
      <div class="{{ $logoH }} z-30 px-4 lg:px-0">
        {{/* {{ .Scratch.Set "isHeader" true }} */}}
        <a href="{{ .Site.BaseURL }}">
          {{ with $logoInfo.img }}
            <img src="{{ . }}" alt="header logo" id="logo" class="{{ $logoH }}" />
            {{ with $logoInfo.img_dark }}
              <img src="{{ . }}" alt="header logo" id="logo-toggle" class="{{ $logoH }} hidden" />
            {{ end }}
          {{ else }}
            <span class="{{ with $logoInfo.textColor }}text-[{{ . }}]{{ end }} text-3xl font-bold">
              {{ $logoInfo.text }}
            </span>
          {{ end }}
        </a>
      </div>

      <div class="flex flex-row items-center space-x-10 px-4 lg:px-0">
        <!-- Menu Items -->
        <div class="hidden items-center space-x-10 font-bold uppercase text-gray-900 lg:flex">
          {{ range .Site.Menus.main }}
            <a class="tracking-widest hover:text-blue-700" href="{{ .URL }}">
              {{ if .Pre }}
                {{ $icon := printf "<i data-feather=\"%s\"></i> " .Pre | safeHTML }}
                {{ $icon }}
              {{ end }}
              {{ $text := print .Name | safeHTML }}
              {{ $text }}
            </a>
          {{ end }}
        </div>

        <!-- search -->
        {{ with .Site.Params.enableSearch }}
          <div id="search-icon">
            <svg
              t="1687792593023"
              class="fill-gray-900 hover:cursor-pointer hover:fill-blue-700 lg:mr-3 xl:mr-1"
              viewBox="0 0 1269 1024"
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              p-id="12489"
              width="20"
              height="20"
            >
              <path
                d="M990.28992 695.0912l254.19776 165.56032-83.39456 128.8192-246.784-160.768A511.09888 511.09888 0 0 1 512 1024C229.21216 1024 0 794.78784 0 512S229.21216 0 512 0 1024 229.21216 1024 512a510.7712 510.7712 0 0 1-33.71008 183.0912zM512 153.6a358.4 358.4 0 1 0 0 716.8 358.4 358.4 0 0 0 0-716.8z"
                p-id="12490"
              ></path>
            </svg>
          </div>
        {{ end }}


        <!-- Hamburger Button -->
        <button
          id="menu-btn"
          aria-label="menu button"
          class="hamburger z-30 flex h-6 w-6 flex-col justify-around lg:hidden"
        >
          <div class="hamburger-top h-[3px] w-6 bg-gray-900 transition duration-500"></div>
          <div class="hamburger-middle h-[3px] w-6 bg-gray-900 transition duration-500"></div>
          <div class="hamburger-bottom h-[3px] w-6 bg-gray-900 transition duration-500"></div>
        </button>
      </div>
    </div>

    <!-- Mobile Menu -->
    <div
      id="menu"
      class="m-h-screen fixed inset-0 left-0 top-0 z-20 hidden h-full w-full flex-col items-center self-end bg-gray-800 px-6 py-1 pb-4 pt-32 font-bold uppercase tracking-widest text-white opacity-90"
    >
      <div class="w-full py-3 text-center">
        {{ range .Site.Menus.main }}
          <a class="block py-2 hover:text-blue-700" href="{{ .URL }}">
            {{ $text := print .Name | safeHTML }}
            {{ $text }}
          </a>
        {{ end }}
      </div>
    </div>
  </nav>
</section>
