{{/* Image */}}
<div class="mb-2 shrink-0 overflow-hidden">
  <img
    class="h-80 w-full object-cover hover:scale-110 hover:brightness-75 hover:transition-transform hover:duration-700"
    src="{{ if .Params.image }}
      {{- .Params.image  | relURL -}}
    {{ else }}
      {{- .Site.Params.hero.img | relURL -}}
    {{ end }}"
    alt="preview image"
    srcset=""
  />
</div>

{{/* Date and Read time */}}
<div class="py-1">
  <p class="font-postmeta tracking-wider">
    Published on {{ .Date.Format "January 2 2006" }} · {{ .ReadingTime }} min read
  </p>
</div>

{{/* Title */}}
<div class="mb-2 py-2 text-4xl font-bold hover:text-blue-700"><a href="{{ .Permalink }}">{{ .Title }}</a></div>

{{/* Sumary */}}
<div
  class="prose prose-base line-clamp-6 max-w-none overflow-hidden prose-headings:my-5 prose-headings:font-normal prose-headings:leading-3 prose-headings:text-gray-700 prose-code:text-gray-700 prose-pre:bg-transparent prose-img:hidden prose-video:hidden"
>
  {{ .Summary }}
</div>

{{/* Read more */}}
<div class="px-1 py-3 font-semibold text-blue-700">
  <a href="{{ .Permalink }}">Read more &rarr;</a>
</div>
