{{/* Image */}}
<div class="mb-2 shrink-0 overflow-hidden">
  {{ $image := resources.Get .Params.image }}
  {{ with $image }}
    {{ $image := $image.Resize "x600 q100" }}
    <img
      class="h-80 w-full object-cover hover:scale-110 hover:brightness-75 hover:transition-transform hover:duration-700"
      src="{{ $image.Permalink }}"
      alt="preview image"
      srcset=""
    />
  {{ else }}
    <div class="h-80 w-full">{{ partial "default_bg.html" . }}</div>
  {{ end }}

</div>

{{/* Date and Read time */}}
<div class="py-1">
  {{ partial "index_post_meta.html" . }}
</div>

{{/* Title */}}
<div class="mb-2 py-2 text-4xl font-bold hover:text-blue-700"><a href="{{ .Permalink }}">{{ .Title }}</a></div>

{{/* Sumary */}}
<div class="line-clamp-6 tracking-wide text-gray-600">
  {{ with .Description }}
    {{- . -}}
  {{ else }}
    {{- .Summary -}}
  {{ end }}
</div>

{{/* Read more */}}
{{ partial "read_more.html" . }}
