<div class="grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-3">
  {{ range .Paginator.Pages }}
    <div class="group relative mx-auto h-[23rem] w-full bg-slate-50">
      {{/* Item Preview image */}}
      <div class="h-52 w-full overflow-hidden">
        {{ $image := resources.Get .Params.image }}
        {{ with $image }}
          {{ if lt $image.Height $image.Width }}
            {{ $image = $image.Resize "x400 q100" }}
          {{ else }}
            {{ $image = $image.Resize "500x q100" }}
          {{ end }}
          <img
            class="object-cover group-hover:scale-105 group-hover:brightness-75 group-hover:transition-transform group-hover:duration-700 group-hover:ease-in-out"
            src="{{ $image.Permalink }}"
            alt="preview image"
            srcset=""
          />
        {{ else }}
          {{ partial "default_bg.html" . }}
        {{ end }}

      </div>

      {{/* Posted Date */}}
      <div class="px-4 pb-1 pt-4 text-xs tracking-wide text-gray-400">{{ .Date.Format "January 2 2006" }}</div>

      {{/* Item Title */}}
      <div class="px-4 py-1">
        <a href="{{ .Permalink }}" class="text-center text-xl font-bold text-black hover:text-blue-700">{{ .Title }}</a>
      </div>

      {{/* Item Description */}}
      <div class="px-4 py-2">
        <span class="line-clamp-2 text-xs tracking-wider text-gray-400">
          {{ with .Description }}
            {{- . -}}
          {{ else }}
            {{- .Summary -}}
          {{ end }}
        </span>
      </div>
    </div>
  {{ end }}
</div>
