{{/* Taxonomy */}}
<aside class="hidden space-y-2 text-gray-900 md:flex md:flex-col">
  {{/* @todo 文章列表缩略图 */}}
  {{/* category */}}
  <div class="flex w-[17rem] flex-col px-5">
    <div class="bottom-3 border-b-[0.5px] border-black py-3 text-left font-semibold capitalize">categories</div>
    <ul class="my-5 flex flex-wrap justify-center gap-3 text-xs">
      {{ range .Site.Taxonomies.categories }}
        <li
          class="my-0.5 rounded-md px-2 py-1 text-center font-medium text-gray-900 hover:bg-blue-700 hover:text-white hover:duration-500"
        >
          <a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a>
        </li>
      {{ end }}
    </ul>
  </div>

  {{/* tag cloud */}}
  <div class="flex w-[17rem] flex-col px-4">
    <div class="bottom-3 border-b-[0.5px] border-black py-3 text-left font-semibold capitalize">tags</div>
    <ul class="my-5 flex flex-wrap justify-center gap-3 text-xs">
      {{ range .Site.Taxonomies.tags }}
        <li
          class="my-0.5 rounded-md px-2 py-1 text-center font-medium text-gray-900 hover:bg-blue-700 hover:text-white hover:duration-500"
        >
          <a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a>
        </li>
      {{ end }}
    </ul>
  </div>

  {{/* recommend posts */}}
  <div class="flex w-[17rem] flex-col px-4">
    <div class="bottom-3 border-b-[0.5px] border-black py-3 text-left font-semibold capitalize">Recommend Posts</div>
    <ul class="my-4 flex flex-col space-y-1 text-xs">
      {{ range first 10 (where (where (where .Site.Pages "Type" "posts") "IsPage" true ) "Params.is_recommend" true) }}
        <li class="my-0.5 truncate py-1 font-medium hover:text-blue-700">
          <a class="before:content-['·_']" href="{{ .Permalink }}">{{ .Title }}</a>
        </li>
      {{ end }}
    </ul>
  </div>

  {{/* Latest Posts */}}
  <div class="flex w-[17rem] flex-col px-4">
    <div class="bottom-3 border-b-[0.5px] border-black py-3 text-left font-semibold capitalize">Latest Posts</div>
    <ul class="my-4 flex flex-col space-y-1 text-xs">
      {{ range first 10 (where (where .Site.Pages "Type" "posts") "IsPage" true) }}
        <li class="my-0.5 truncate py-1 font-medium hover:text-blue-700">
          <a class="before:content-['·_']" href="{{ .Permalink }}">{{ .Title }}</a>
        </li>
      {{ end }}
    </ul>
  </div>
</aside>
