{{/* Taxonomy */}}
<aside
  class="hidden grow space-y-2 bg-[#0B9B8A] px-8 py-[2.3rem] text-gray-900 lg:flex lg:flex-col lg:justify-items-center"
>
  {{/* @todo 文章列表缩略图 */}}
  {{/* category */}}
  <div class="flex flex-col text-slate-100">
    {{ .Scratch.Set "title" "categories" }}
    {{ partial "sidebar_title.html" . }}
    <ul class="my-5 flex flex-wrap justify-center gap-3 text-xs">
      {{ range .Site.Taxonomies.categories }}
        <li
          class="my-0.5 rounded-md px-2 py-1 text-center font-medium hover:bg-blue-700 hover:text-white hover:duration-500"
        >
          <a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a>
        </li>
      {{ end }}
    </ul>
  </div>

  {{/* tag cloud */}}
  <div class="flex flex-col text-slate-100">
    {{ .Scratch.Set "title" "tags" }}
    {{ partial "sidebar_title.html" . }}
    <ul class="my-5 flex flex-wrap justify-center gap-3 text-xs">
      {{ range .Site.Taxonomies.tags }}
        <li
          class="my-0.5 rounded-md px-2 py-1 text-center font-medium hover:bg-blue-700 hover:text-white hover:duration-500"
        >
          <a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a>
        </li>
      {{ end }}
    </ul>
  </div>

  {{/* recommend posts */}}
  <div class="flex flex-col text-slate-100">
    {{ .Scratch.Set "title" "Recommend Posts" }}
    {{ partial "sidebar_title.html" . }}
    <ul class="my-4 flex flex-col space-y-1 text-xs">
      {{ range first 10 (where (where (where .Site.Pages "Type" "posts") "IsPage" true ) "Params.is_recommend" true) }}
        <li class="my-0.5 truncate py-1 font-medium hover:text-blue-700">
          <a class="before:content-['·_']" href="{{ .Permalink }}">{{ .Title }}</a>
        </li>
      {{ end }}
    </ul>
  </div>

  {{/* Latest Posts */}}
  <div class="flex flex-col text-slate-100">
    {{ .Scratch.Set "title" "Latest Posts" }}
    {{ partial "sidebar_title.html" . }}
    <ul class="my-4 flex flex-col space-y-1 text-xs">
      {{ range first 10 (where (where .Site.Pages "Type" "posts") "IsPage" true) }}
        <li class="my-0.5 truncate py-1 font-medium hover:text-blue-700">
          <a class="before:content-['·_']" href="{{ .Permalink }}">{{ .Title }}</a>
        </li>
      {{ end }}
    </ul>
  </div>
</aside>
