<!-- 
Speed Dial

more info: https://flowbite.com/docs/components/speed-dial/
-->
<div data-dial-init class="fixed end-8 bottom-24 md:end-20 group">
  <div
    id="speed-dial-menu-bottom-right"
    class="flex flex-col items-center hidden mb-4 space-y-2">
    <button
      type="button"
      data-tooltip-target="tooltip-top"
      data-tooltip-placement="left"
      class="flex justify-center items-center w-[52px] h-[52px] text-gray-500 hover:text-gray-900 bg-white rounded-full border border-gray-200 dark:border-gray-600 shadow-sm dark:hover:text-white dark:text-gray-400 hover:bg-gray-50 dark:bg-gray-700 dark:hover:bg-gray-600 focus:ring-4 focus:ring-gray-300 focus:outline-none dark:focus:ring-gray-400">
      <svg
        class="w-5 h-5"
        aria-hidden="true"
        fill="currentColor"
        viewBox="0 0 1024 1024"
        version="1.1"
        xmlns="http://www.w3.org/2000/svg">
        <path
          d="M852.346 110H171.654c-15.54 0-28.696 4.952-39.462 14.856-10.768 9.904-16.164 22.62-16.192 38.152-0.028 15.532 5.148 28.47 15.528 38.814 10.38 10.346 23.756 15.518 40.126 15.518h680.692c15.54 0 28.696-4.952 39.462-14.856 10.768-9.904 16.164-22.84 16.192-38.814 0.028-15.972-5.37-28.91-16.192-38.814-10.82-9.904-23.976-14.856-39.462-14.856M510.716 325.962c-6.9 0-13.374 2.594-19.42 7.78l-280.8 266.404c-10.352 10.344-14.024 19.186-11.014 26.524 3.01 7.34 12.284 11.008 27.828 11.008h170.814v279.314c0 14.648 5.604 27.146 16.812 37.49 11.208 10.346 24.584 15.518 40.126 15.518h112.592c16.4 0 29.774-4.952 40.126-14.856 10.352-9.904 15.956-22.62 16.812-38.152V637.68h170.816c15.54 0 24.818-3.876 27.826-11.628 3.01-7.752-0.662-16.374-11.014-25.862L531.42 333.78c-6.044-5.186-12.946-7.78-20.704-7.78v-0.04z"></path>
      </svg>
      <span class="sr-only">Top</span>
    </button>
    <div
      id="tooltip-top"
      role="tooltip"
      class="absolute z-10 invisible inline-block w-auto px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
      Top
      <div class="tooltip-arrow" data-popper-arrow></div>
    </div>
    {{ if and ( .IsPage ) ( eq .Kind "page") }}
      <button
        type="button"
        data-tooltip-target="tooltip-share"
        data-tooltip-placement="left"
        data-drawer-target="drawer-body-scrolling-toc"
        data-drawer-show="drawer-body-scrolling-toc"
        data-drawer-body-scrolling="true"
        aria-controls="drawer-body-scrolling-toc"
        class="flex justify-center items-center w-[52px] h-[52px] text-gray-500 hover:text-gray-900 bg-white rounded-full border border-gray-200 dark:border-gray-600 shadow-sm dark:hover:text-white dark:text-gray-400 hover:bg-gray-50 dark:bg-gray-700 dark:hover:bg-gray-600 focus:ring-4 focus:ring-gray-300 focus:outline-none dark:focus:ring-gray-400">
        <svg
          class="w-5 h-5"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 1024 1024"
          version="1.1">
          <path
            d="M901.8 313.5H354.4c-32 0-58.2-26.2-58.2-58.2v-18.1c0-32 26.2-58.2 58.2-58.2h547.4c32 0 58.2 26.2 58.2 58.2v18.1c0 32-26.2 58.2-58.2 58.2z"></path>
          <path
            d="M131.3 246.2m-67.3 0a67.3 67.3 0 1 0 134.6 0 67.3 67.3 0 1 0-134.6 0Z"></path>
          <path
            d="M901.8 579.3H354.4c-32 0-58.2-26.2-58.2-58.2V503c0-32 26.2-58.2 58.2-58.2h547.4c32 0 58.2 26.2 58.2 58.2v18.1c0 32-26.2 58.2-58.2 58.2z"></path>
          <path
            d="M131.3 512m-67.3 0a67.3 67.3 0 1 0 134.6 0 67.3 67.3 0 1 0-134.6 0Z"></path>
          <path
            d="M901.8 845.1H354.4c-32 0-58.2-26.2-58.2-58.2v-18.1c0-32 26.2-58.2 58.2-58.2h547.4c32 0 58.2 26.2 58.2 58.2v18.1c0 32-26.2 58.2-58.2 58.2z"></path>
          <path
            d="M131.3 777.8m-67.3 0a67.3 67.3 0 1 0 134.6 0 67.3 67.3 0 1 0-134.6 0Z"></path>
        </svg>

        <span class="sr-only">Catelog</span>
      </button>
      <div
        id="tooltip-share"
        role="tooltip"
        class="absolute z-10 invisible inline-block w-auto px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
        Catelog
        <div class="tooltip-arrow" data-popper-arrow></div>
      </div>

      <button
        type="button"
        data-tooltip-target="tooltip-print"
        data-tooltip-placement="left"
        data-drawer-target="drawer-body-scrolling-info-of-page"
        data-drawer-show="drawer-body-scrolling-info-of-page"
        data-drawer-body-scrolling="true"
        aria-controls="drawer-body-scrolling-info-of-page"
        class="flex justify-center items-center w-[52px] h-[52px] text-gray-500 hover:text-gray-900 bg-white rounded-full border border-gray-200 dark:border-gray-600 shadow-sm dark:hover:text-white dark:text-gray-400 hover:bg-gray-50 dark:bg-gray-700 dark:hover:bg-gray-600 focus:ring-4 focus:ring-gray-300 focus:outline-none dark:focus:ring-gray-400">
        <svg
          class="w-5 h-5"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 1024 1024">
          <path
            d="M360 848.458h40V559.542H360c-22.092 0-40-17.908-40-40V424c0-22.092 17.908-40 40-40h224c22.092 0 40 17.908 40 40v424.458h40c22.092 0 40 17.908 40 40V984c0 22.092-17.908 40-40 40H360c-22.092 0-40-17.908-40-40v-95.542c0-22.092 17.908-40 40-40zM512 0C432.47 0 368 64.47 368 144s64.47 144 144 144 144-64.47 144-144S591.528 0 512 0z"></path>
        </svg>
        <span class="sr-only">Info</span>
      </button>
      <div
        id="tooltip-print"
        role="tooltip"
        class="absolute z-10 invisible inline-block w-auto px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
        Info
        <div class="tooltip-arrow" data-popper-arrow></div>
      </div>
    {{ end }}


    <button
      type="button"
      data-tooltip-target="tooltip-download"
      data-tooltip-placement="left"
      class="flex justify-center items-center w-[52px] h-[52px] text-gray-500 hover:text-gray-900 bg-white rounded-full border border-gray-200 dark:border-gray-600 shadow-sm dark:hover:text-white dark:text-gray-400 hover:bg-gray-50 dark:bg-gray-700 dark:hover:bg-gray-600 focus:ring-4 focus:ring-gray-300 focus:outline-none dark:focus:ring-gray-400">
      <svg
        class="w-5 h-5"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="currentColor"
        viewBox="0 0 20 20">
        <path
          d="M14.707 7.793a1 1 0 0 0-1.414 0L11 10.086V1.5a1 1 0 0 0-2 0v8.586L6.707 7.793a1 1 0 1 0-1.414 1.414l4 4a1 1 0 0 0 1.416 0l4-4a1 1 0 0 0-.002-1.414Z" />
        <path
          d="M18 12h-2.55l-2.975 2.975a3.5 3.5 0 0 1-4.95 0L4.55 12H2a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2v-4a2 2 0 0 0-2-2Zm-3 5a1 1 0 1 1 0-2 1 1 0 0 1 0 2Z" />
      </svg>
      <span class="sr-only">Download</span>
    </button>
    <div
      id="tooltip-download"
      role="tooltip"
      class="absolute z-10 invisible inline-block w-auto px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
      Download
      <div class="tooltip-arrow" data-popper-arrow></div>
    </div>

    <button
      type="button"
      data-tooltip-target="tooltip-copy"
      data-tooltip-placement="left"
      class="flex justify-center items-center w-[52px] h-[52px] text-gray-500 hover:text-gray-900 bg-white rounded-full border border-gray-200 dark:border-gray-600 dark:hover:text-white shadow-sm dark:text-gray-400 hover:bg-gray-50 dark:bg-gray-700 dark:hover:bg-gray-600 focus:ring-4 focus:ring-gray-300 focus:outline-none dark:focus:ring-gray-400">
      <svg
        class="w-5 h-5"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="currentColor"
        viewBox="0 0 18 20">
        <path
          d="M5 9V4.13a2.96 2.96 0 0 0-1.293.749L.879 7.707A2.96 2.96 0 0 0 .13 9H5Zm11.066-9H9.829a2.98 2.98 0 0 0-2.122.879L7 1.584A.987.987 0 0 0 6.766 2h4.3A3.972 3.972 0 0 1 15 6v10h1.066A1.97 1.97 0 0 0 18 14V2a1.97 1.97 0 0 0-1.934-2Z" />
        <path
          d="M11.066 4H7v5a2 2 0 0 1-2 2H0v7a1.969 1.969 0 0 0 1.933 2h9.133A1.97 1.97 0 0 0 13 18V6a1.97 1.97 0 0 0-1.934-2Z" />
      </svg>
      <span class="sr-only">Copy</span>
    </button>
    <div
      id="tooltip-copy"
      role="tooltip"
      class="absolute z-10 invisible inline-block w-auto px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
      Copy
      <div class="tooltip-arrow" data-popper-arrow></div>
    </div>

    <!-- 对应 drawer_tags.html 内容 -->
    <button
      type="button"
      data-drawer-target="drawer-body-scrolling"
      data-drawer-show="drawer-body-scrolling"
      data-drawer-body-scrolling="true"
      aria-controls="drawer-body-scrolling"
      data-tooltip-target="tooltip-tags"
      data-tooltip-placement="left"
      class="flex justify-center items-center w-[52px] h-[52px] text-gray-500 hover:text-gray-900 bg-white rounded-full border border-gray-200 dark:border-gray-600 dark:hover:text-white shadow-sm dark:text-gray-400 hover:bg-gray-50 dark:bg-gray-700 dark:hover:bg-gray-600 focus:ring-4 focus:ring-gray-300 focus:outline-none dark:focus:ring-gray-400">
      <svg
        class="w-5 h-5"
        aria-hidden="true"
        fill="currentColor"
        viewBox="0 0 1024 1024"
        version="1.1"
        xmlns="http://www.w3.org/2000/svg">
        <path
          d="M96.512 454.272h839.84a78.752 78.752 0 0 1 78.752 78.752v8.704a78.752 78.752 0 0 1-78.752 78.752H96.512a78.752 78.752 0 0 1-78.752-78.752v-8.704a78.752 78.752 0 0 1 78.752-78.752zM571.872 232.672H904.32a55.424 55.424 0 0 1 0 110.848H571.872a55.424 55.424 0 0 1 0-110.848zM350.208 731.36h332.448a55.424 55.424 0 0 1 0 110.848H350.208a55.424 55.424 0 0 1 0-110.848zM128.544 177.248h221.664a55.424 55.424 0 0 1 0 110.848H128.544a55.424 55.424 0 0 1 0-110.848z"
          p-id="22696"></path>
      </svg>
      <span class="sr-only">Tags</span>
    </button>
    <div
      id="tooltip-tags"
      role="tooltip"
      class="absolute z-10 invisible inline-block w-auto px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
      Tags
      <div class="tooltip-arrow" data-popper-arrow></div>
    </div>
  </div>

  <button
    type="button"
    data-dial-toggle="speed-dial-menu-bottom-right"
    aria-controls="speed-dial-menu-bottom-right"
    aria-expanded="false"
    class="flex items-center justify-center text-white bg-blue-700 rounded-full w-14 h-14 hover:bg-blue-800 dark:bg-blue-600 dark:hover:bg-blue-700 focus:ring-4 focus:ring-blue-300 focus:outline-none dark:focus:ring-blue-800">
    <svg
      class="w-5 h-5 transition-transform group-hover:rotate-45"
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 18 18">
      <path
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M9 1v16M1 9h16" />
    </svg>
    <span class="sr-only">Open actions menu</span>
  </button>
</div>

{{- partial "drawer_tags.html" . -}}
{{- partial "drawer_toc.html" . -}}
{{- partial "drawer_page_info.html" . -}}
