<!-- 
Speed Dial

more info: https://flowbite.com/docs/components/speed-dial/
-->
<div data-dial-init class="group fixed bottom-24 end-8 md:end-20">
  <div
    id="speed-dial-menu-bottom-right"
    class="mb-4 flex hidden flex-col items-center space-y-2">
    <button
      id="to-top-button"
      type="button"
      data-tooltip-target="tooltip-top"
      data-tooltip-placement="left"
      class="flex hidden h-[52px] w-[52px] items-center justify-center rounded-full border border-gray-200 bg-white text-gray-500 shadow-sm hover:bg-gray-50 hover:text-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 dark:border-gray-600 dark:bg-gray-700 dark:text-gray-400 dark:hover:bg-gray-600 dark:hover:text-white dark:focus:ring-gray-400">
      <svg
        class="h-5 w-5"
        aria-hidden="true"
        fill="currentColor"
        viewBox="0 0 1024 1024"
        version="1.1"
        xmlns="http://www.w3.org/2000/svg">
        <path
          d="M852.346 110H171.654c-15.54 0-28.696 4.952-39.462 14.856-10.768 9.904-16.164 22.62-16.192 38.152-0.028 15.532 5.148 28.47 15.528 38.814 10.38 10.346 23.756 15.518 40.126 15.518h680.692c15.54 0 28.696-4.952 39.462-14.856 10.768-9.904 16.164-22.84 16.192-38.814 0.028-15.972-5.37-28.91-16.192-38.814-10.82-9.904-23.976-14.856-39.462-14.856M510.716 325.962c-6.9 0-13.374 2.594-19.42 7.78l-280.8 266.404c-10.352 10.344-14.024 19.186-11.014 26.524 3.01 7.34 12.284 11.008 27.828 11.008h170.814v279.314c0 14.648 5.604 27.146 16.812 37.49 11.208 10.346 24.584 15.518 40.126 15.518h112.592c16.4 0 29.774-4.952 40.126-14.856 10.352-9.904 15.956-22.62 16.812-38.152V637.68h170.816c15.54 0 24.818-3.876 27.826-11.628 3.01-7.752-0.662-16.374-11.014-25.862L531.42 333.78c-6.044-5.186-12.946-7.78-20.704-7.78v-0.04z"></path>
      </svg>
      <span class="sr-only">Top</span>
    </button>
    <div
      id="tooltip-top"
      role="tooltip"
      class="tooltip invisible absolute z-10 inline-block w-auto rounded-lg bg-gray-900 px-3 py-2 text-sm font-medium text-white opacity-0 shadow-sm transition-opacity duration-300 dark:bg-gray-700">
      Top
      <div class="tooltip-arrow" data-popper-arrow></div>
    </div>

    {{ if and ( .IsPage ) ( eq .Kind "page") }}
      <!-- Catelog -->
      <button
        type="button"
        data-tooltip-target="tooltip-toc"
        data-tooltip-placement="left"
        data-drawer-target="drawer-body-scrolling-toc"
        data-drawer-show="drawer-body-scrolling-toc"
        data-drawer-body-scrolling="true"
        aria-controls="drawer-body-scrolling-toc"
        class="flex h-[52px] w-[52px] items-center justify-center rounded-full border border-gray-200 bg-white text-gray-500 shadow-sm hover:bg-gray-50 hover:text-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 dark:border-gray-600 dark:bg-gray-700 dark:text-gray-400 dark:hover:bg-gray-600 dark:hover:text-white dark:focus:ring-gray-400">
        <svg
          class="h-5 w-5"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 1024 1024"
          version="1.1">
          <path
            d="M901.8 313.5H354.4c-32 0-58.2-26.2-58.2-58.2v-18.1c0-32 26.2-58.2 58.2-58.2h547.4c32 0 58.2 26.2 58.2 58.2v18.1c0 32-26.2 58.2-58.2 58.2z"></path>
          <path
            d="M131.3 246.2m-67.3 0a67.3 67.3 0 1 0 134.6 0 67.3 67.3 0 1 0-134.6 0Z"></path>
          <path
            d="M901.8 579.3H354.4c-32 0-58.2-26.2-58.2-58.2V503c0-32 26.2-58.2 58.2-58.2h547.4c32 0 58.2 26.2 58.2 58.2v18.1c0 32-26.2 58.2-58.2 58.2z"></path>
          <path
            d="M131.3 512m-67.3 0a67.3 67.3 0 1 0 134.6 0 67.3 67.3 0 1 0-134.6 0Z"></path>
          <path
            d="M901.8 845.1H354.4c-32 0-58.2-26.2-58.2-58.2v-18.1c0-32 26.2-58.2 58.2-58.2h547.4c32 0 58.2 26.2 58.2 58.2v18.1c0 32-26.2 58.2-58.2 58.2z"></path>
          <path
            d="M131.3 777.8m-67.3 0a67.3 67.3 0 1 0 134.6 0 67.3 67.3 0 1 0-134.6 0Z"></path>
        </svg>

        <span class="sr-only">Catelog</span>
      </button>
      <div
        id="tooltip-toc"
        role="tooltip"
        class="tooltip invisible absolute z-10 inline-block w-auto rounded-lg bg-gray-900 px-3 py-2 text-sm font-medium text-white opacity-0 shadow-sm transition-opacity duration-300 dark:bg-gray-700">
        Catelog
        <div class="tooltip-arrow" data-popper-arrow></div>
      </div>

      <!-- Go to comment -->
      {{ if and (not .Params.disableComment) .Site.Params.comment.enable }}
        <button
          id="to-comment-button"
          type="button"
          data-tooltip-target="tooltip-comment"
          data-tooltip-placement="left"
          class="flex h-[52px] w-[52px] items-center justify-center rounded-full border border-gray-200 bg-white text-gray-500 shadow-sm hover:bg-gray-50 hover:text-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 dark:border-gray-600 dark:bg-gray-700 dark:text-gray-400 dark:hover:bg-gray-600 dark:hover:text-white dark:focus:ring-gray-400">
          <svg
            class="h-5 w-5"
            aria-hidden="true"
            fill="currentColor"
            viewBox="0 0 1024 1024"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg">
            <path
              d="M940.373333 896H83.626667c-17.066667 0-32.426667 13.653333-32.426667 32.426667 0 17.066667 13.653333 32.426667 32.426667 32.426666h858.453333c17.066667 0 32.426667-13.653333 32.426667-32.426666-1.706667-17.066667-15.36-32.426667-34.133334-32.426667zM201.386667 752.64H341.333333c10.24 0 20.48-3.413333 27.306667-11.946667L839.68 273.066667c15.36-15.36 15.36-40.96 0-56.32L699.733333 75.093333c-6.826667-6.826667-17.066667-11.946667-27.306666-11.946666-10.24 0-20.48 3.413333-27.306667 11.946666L174.08 546.133333c-6.826667 6.826667-11.946667 17.066667-11.946667 27.306667v139.946667c0 22.186667 18.773333 39.253333 39.253334 39.253333z"></path>
          </svg>
          <span class="sr-only">Comment</span>
        </button>
        <div
          id="tooltip-comment"
          role="tooltip"
          class="tooltip invisible absolute z-10 inline-block w-auto rounded-lg bg-gray-900 px-3 py-2 text-sm font-medium text-white opacity-0 shadow-sm transition-opacity duration-300 dark:bg-gray-700">
          {{ if and .Site.Params.comment.enableCounts .Site.Params.comment.waline.enable }}
            <p id="speed-comment-count-id" class="whitespace-nowrap">
              <span class="waline-comment-count" data-path="{{ .RelPermalink }}"
                >...</span
              >
              Comments
            </p>
          {{ else }}
            <p id="speed-comment-count-id" class="whitespace-nowrap">Comment</p>
          {{ end }}
          <div class="tooltip-arrow" data-popper-arrow></div>
        </div>
      {{ end }}
    {{ end }}


    <!-- 对应 drawer_tags.html 内容 -->
    <button
      type="button"
      data-drawer-target="drawer-body-scrolling"
      data-drawer-show="drawer-body-scrolling"
      data-drawer-body-scrolling="true"
      aria-controls="drawer-body-scrolling"
      data-tooltip-target="tooltip-tags"
      data-tooltip-placement="left"
      class="flex h-[52px] w-[52px] items-center justify-center rounded-full border border-gray-200 bg-white text-gray-500 shadow-sm hover:bg-gray-50 hover:text-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 dark:border-gray-600 dark:bg-gray-700 dark:text-gray-400 dark:hover:bg-gray-600 dark:hover:text-white dark:focus:ring-gray-400">
      <svg
        class="h-5 w-5"
        aria-hidden="true"
        fill="currentColor"
        viewBox="0 0 1024 1024"
        version="1.1"
        xmlns="http://www.w3.org/2000/svg">
        <path
          d="M96.512 454.272h839.84a78.752 78.752 0 0 1 78.752 78.752v8.704a78.752 78.752 0 0 1-78.752 78.752H96.512a78.752 78.752 0 0 1-78.752-78.752v-8.704a78.752 78.752 0 0 1 78.752-78.752zM571.872 232.672H904.32a55.424 55.424 0 0 1 0 110.848H571.872a55.424 55.424 0 0 1 0-110.848zM350.208 731.36h332.448a55.424 55.424 0 0 1 0 110.848H350.208a55.424 55.424 0 0 1 0-110.848zM128.544 177.248h221.664a55.424 55.424 0 0 1 0 110.848H128.544a55.424 55.424 0 0 1 0-110.848z"
          p-id="22696"></path>
      </svg>
      <span class="sr-only">Tags</span>
    </button>
    <div
      id="tooltip-tags"
      role="tooltip"
      class="tooltip invisible absolute z-10 inline-block w-auto rounded-lg bg-gray-900 px-3 py-2 text-sm font-medium text-white opacity-0 shadow-sm transition-opacity duration-300 dark:bg-gray-700">
      Tags
      <div class="tooltip-arrow" data-popper-arrow></div>
    </div>
  </div>

  <button
    type="button"
    data-dial-toggle="speed-dial-menu-bottom-right"
    aria-controls="speed-dial-menu-bottom-right"
    aria-expanded="false"
    class="flex h-14 w-14 items-center justify-center rounded-full bg-blue-700 text-white hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
    <svg
      class="h-5 w-5 transition-transform group-hover:rotate-45"
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 18 18">
      <path
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M9 1v16M1 9h16" />
    </svg>
    <span class="sr-only">Open actions menu</span>
  </button>
</div>

{{- partial "drawer_tags.html" . -}}
{{- partial "drawer_toc.html" . -}}
{{- partial "to_top.html" . -}}
{{ if and (not .Params.disableComment) .Site.Params.comment.enable }}
  {{- partial "to_comment.html" . -}}
{{ end }}
