<div class="mx-auto my-5 flex flex-col space-y-2 bg-white p-10">
  <p class="text-4xl font-bold uppercase tracking-wider">{{ .Data.Singular }} - {{ .Title }}</p>
  <hr />

  {{ $paginator := (.Paginate (.Pages.GroupByDate "2006") 20).PageGroups }}
  {{ range $paginator }}
    <span class="text-xl font-bold">{{ .Key }}</span>

    {{ range .Pages }}
      <div class="flex flex-row items-center">
        <img
          class="h-20 w-20 max-w-full transform rounded-lg md:w-36"
          src="
        {{- if .Params.image -}}
            {{- .Params.image  | relURL -}}
          {{ else }}
            {{- .Site.Params.hero.img | relURL -}}
          {{- end -}}
        "
          alt="preview image"
          srcset=""
        />
        <div class="mx-4 flex flex-col content-center py-1.5">
          <a class="text-lg font-medium hover:text-cyan-700" href="{{ .Permalink }}">{{ .Title }}</a>
          <div class="text-gray-500">
            {{ $tags := (.GetTerms "tags") }}
            {{ range $tags }}
              <a
                class="my-0.5 rounded-xl bg-gray-200 bg-opacity-30 px-1.5 py-0.5 text-center text-xs before:content-['#_'] hover:bg-opacity-80 hover:text-cyan-600"
                href="{{ .Permalink }}"
                >{{ .LinkTitle }}</a
              >
            {{ end }}
          </div>
        </div>
      </div>
    {{ end }}
  {{ end }}

</div>
