<div class="my-10 grid grid-cols-1 lg:grid-cols-3">
  <div class="mx-auto flex w-full flex-col space-y-4 bg-slate-100 p-5 lg:col-span-2">
    <div class="group flex items-center space-x-3 border-b border-slate-300">
      <svg
        t="1688179138139"
        class="icon"
        viewBox="0 0 1024 1024"
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
        p-id="995"
        width="30"
        height="30"
      >
        <path
          d="M384 170.6496h-256v256h256v-256z m512 0H469.2992V256H896V170.6496zM213.2992 341.4016V256h85.3504v85.3504H213.2992z m512 0h-256v85.3504h256V341.3504z m-597.2992 256h256v256h-256v-256z m341.2992 0H896v85.3504H469.2992v-85.4016z m-256 85.3504V768h85.3504v-85.3504H213.2992z m512 85.2992h-256v85.3504h256V768z"
          fill="#383838"
          p-id="996"
        ></path>
      </svg>
      <p class="py-3 text-4xl font-bold capitalize tracking-wider">
        {{ .Title }}
      </p>
    </div>

    {{ $paginator := (.Paginate (.Pages.GroupByDate "2006") 20).PageGroups }}
    {{ range $paginator }}

      <span class="text-xl font-bold">{{ .Key }}</span>

      {{ range .Pages }}
        <div class="hvr-sweep-to-right flex h-24 flex-row items-center space-x-2 bg-white md:space-x-4">
          {{ $image := resources.Get .Params.image }}
          {{ with $image }}
            {{ $image = $image.Resize "x300 q100" }}
            <img
              class="h-24 w-24 max-w-full shrink-0 transform object-cover md:w-36"
              src="{{ $image.Permalink }}"
              alt="preview image"
              srcset=""
            />
          {{ else }}
            <div class="h-24 w-24 shrink-0 md:w-36">{{ partial "default_bg.html" . }}</div>
          {{ end }}
          <a class="px-2 font-medium hover:text-blue-700 sm:text-base md:text-lg" href="{{ .Permalink }}"
            >{{ .Title }}</a
          >
        </div>
      {{ end }}

    {{ end }}

  </div>
  {{/* Sidebar */}}
  {{- partial "sidebar.html" . -}}
</div>
