<div class="my-10 grid grid-cols-1 divide-x-[0.5px] divide-black lg:grid-cols-3">
  <div class="mx-auto flex w-full flex-col space-y-4 p-5 lg:col-span-2">
    <p class="border-b-[0.5px] border-black py-3 text-4xl font-bold capitalize tracking-wider">
      {{ .Title }}
    </p>

    {{ $paginator := (.Paginate (.Pages.GroupByDate "2006") 20).PageGroups }}
    {{ range $paginator }}

      <span class="text-xl font-bold">{{ .Key }}</span>

      {{ range .Pages }}
        <div class="flex flex-row items-center space-x-6">
          {{ $image := resources.Get .Params.image }}
          {{ $image = $image.Resize "x300 q100" }}
          <img
            class="h-20 w-20 max-w-full shrink-0 transform md:w-36"
            src="{{ $image.Permalink }}"
            alt="preview image"
            srcset=""
          />
          <div class="mx-4 flex flex-col content-center py-1.5">
            <a class="text-lg font-medium hover:text-blue-700" href="{{ .Permalink }}">{{ .Title }}</a>
            <div class="text-gray-500">
              {{ $tags := (.GetTerms "tags") }}
              {{ range $tags }}
                <a
                  class="my-0.5 rounded-xl bg-gray-200 bg-opacity-30 px-1.5 py-0.5 text-center text-xs before:content-['#_'] hover:bg-opacity-90 hover:text-blue-700"
                  href="{{ .Permalink }}"
                  >{{ .LinkTitle }}</a
                >
              {{ end }}
            </div>
          </div>
        </div>
      {{ end }}

    {{ end }}

  </div>
  {{/* Sidebar */}}
  {{- partial "sidebar.html" . -}}
</div>
