<script>
  let toTopButton = document.getElementById("to-top-button");
  toTopButton.addEventListener("click", goToTop);
  // When the user scrolls down 200px from the top of the document, show the button
  window.onscroll = function () {
    if (
      document.body.scrollTop > 500 ||
      document.documentElement.scrollTop > 500
    ) {
      toTopButton.classList.remove("hidden");
    } else {
      toTopButton.classList.add("hidden");
    }
  };

  // When the user clicks on the button, scroll to the top of the document
  function goToTop() {
    window.scrollTo({ top: 0, behavior: "smooth" });
  }
</script>
