{{ define "main" }}
  <section id="index-content" class="mx-auto max-w-[88rem] px-3 py-8 md:px-6">
    {{/* Lastest Posts */}}
    {{ $allPages := .Site.Pages }}
    {{ with .Site.Params.home.showContentTypes }}
      {{ $allPages = where $allPages "Type" "in" . }}
    {{ end }}

    {{ $lastestPosts := first 3 (where $allPages "IsPage" true) }}


    <div class="grid grid-cols-1 gap-7 overflow-y-hidden lg:grid-cols-7 lg:gap-x-8">
      {{/* 第一篇文章布局 */}}
      {{ $firstPost := index $lastestPosts 0 }}
      {{ with $firstPost }}
        <div class="col-span-1 flex flex-col lg:col-span-4 lg:row-span-2">
          {{/* Title */}}
          <div class="py-5 text-4xl font-extrabold hover:text-blue-700 lg:text-6xl">
            <a href="{{ .Permalink }}">{{ .Title }}</a>
          </div>

          {{/* Date and Read time */}}
          <div class="pb-5 lg:text-lg lg:font-bold">
            {{ partial "index_post_meta.html" . }}
          </div>

          {{/* Image */}}
          <div class="shrink-0 overflow-hidden">
            {{ $image := resources.Get .Params.image }}
            {{ with $image }}
              {{ $image := $image.Resize "x700 q100" }}
              <img
                class="h-96 w-full object-cover hover:scale-110 hover:brightness-75 hover:transition-transform hover:duration-700"
                src="{{ $image.Permalink }}"
                alt="preview image"
                srcset=""
              />
            {{ else }}
              <div class="h-96 w-full">{{ partial "default_bg.html" . }}</div>
            {{ end }}

          </div>

          {{/* Content */}}
          <div class="prose max-w-none grow py-5">
            {{ .Summary }}
          </div>

          {{/* Read more */}}
          {{ partial "read_more.html" . }}
        </div>
      {{ end }}

      {{/* 第二篇文章布局 */}}
      {{ $secondPost := index $lastestPosts 1 }}
      {{ with $secondPost }}
        <div class="col-span-1 flex flex-col lg:col-span-3 lg:row-span-1">
          {{ partial "index_card.html" . }}
        </div>
      {{ end }}

      {{/* 第三篇文章布局 */}}
      {{ $thirdPost := index $lastestPosts 2 }}
      {{ with $thirdPost }}
        <div class="col-span-1 flex flex-col lg:col-span-3 lg:row-span-1">
          {{ partial "index_card.html" . }}
        </div>
      {{ end }}
    </div>
  </section>

  {{ $recommendPages := .Site.Pages }}
  {{ with .Site.Params.home.recommendedTypes }}
    {{ $recommendPages = where $recommendPages "Type" "in" . }}
  {{ end }}
  {{ $recommendPages = first 6 (where (where $recommendPages "IsPage" true ) "Params.is_recommend" true) }}
  {{ if gt ($recommendPages | len) 0 }}
    <section id="index-recommend" class="mx-auto max-w-[88rem] px-3 py-8 md:px-6">
      <div class="pb-10 pt-2 text-5xl font-bold">Recommend Posts for you</div>
      <div class="grid grid-cols-1 gap-6 lg:grid-cols-3 lg:gap-x-8">
        {{ range $recommendPages }}
          <div class="flex flex-col">
            {{ partial "index_card.html" . }}
          </div>
        {{ end }}
      </div>
    </section>
  {{ end }}

{{ end }}
