{{ define "main" }}
  <section class="mt-22 flex h-full w-full grow md:mt-38">
    {{ $allPages := .Site.Pages }}
    {{ with .Site.Params.home.showContentTypes }}
      {{ $allPages = where $allPages "Type" "in" . }}
    {{ end }}
    {{ $lastestPosts := first 4 (where $allPages "IsPage" true) }}


    <div
      class="mx-auto flex max-w-screen-xl flex-1 flex-col bg-white md:flex-row">
      <div class="mb-4 flex justify-center dark:border-gray-700 md:w-1/6">
        <ul
          class="-mb-px flex flex-wrap items-end justify-center space-y-4 text-center text-sm font-medium md:flex-col md:items-center"
          id="default-tab"
          data-tabs-toggle="#default-tab-content"
          role="tablist">
          {{ range $k, $v := $lastestPosts }}
            <li class="me-2" role="presentation">
              <button
                class="inline-block rounded-t-lg border-b-2 p-4 text-lg font-Oswald font-medium"
                id="home-{{ $k }}-tab"
                data-tabs-target="#home-{{ $k }}"
                type="button"
                role="tab"
                aria-controls="home-{{ $k }}"
                aria-selected="false">
                0{{ add $k 1 }}
              </button>
            </li>
          {{ end }}
        </ul>
      </div>

      {{/* Posts */}}
      <div id="default-tab-content" class="md:w-5/6">
        {{ range $k, $v := $lastestPosts }}
          <div
            class="flex hidden h-full grow flex-col justify-center dark:bg-gray-800 md:flex-row"
            id="home-{{ $k }}"
            role="tabpanel"
            aria-labelledby="home-{{ $k }}">
            {{/* Post data, Post Title, Post Image */}}
            <div
              class="flex flex-1 flex-col border-r border-gray-200 p-2 md:w-2/3">
              <p
                class="mt-1 py-1 text-sm font-Montserrat font-medium text-gray-500 dark:text-gray-200 md:mt-12 md:py-3">
                {{ $v.Date.Format "2 January 2006" }}
                <span class="text-red-700">•</span>
                {{ index $v.Params.categories 0 }}
              </p>

              <div
                class="py-3 text-4xl font-extrabold hover:text-blue-700 md:py-8 lg:text-6xl">
                <a href="{{ $v.Permalink }}">{{ $v.Title }}</a>
              </div>

              <div class="mt-1 shrink-0 overflow-hidden">
                {{ $image := resources.Get $v.Params.image }}
                <img
                  class="h-52 w-full object-cover hover:scale-110 hover:brightness-75 hover:transition-transform hover:duration-700 md:h-80"
                  src="{{ $image.Permalink }}"
                  alt="preview image"
                  srcset="" />
              </div>
            </div>

            {{/* summary */}}
            <div
              class="mx-auto flex flex-col justify-center p-4  md:w-1/3 md:p-6 lg:p-9">
              <div class="hidden md:block">
                <div class="h-2 w-2 rounded-full bg-green-600"></div>
                <p class="py-2 text-lg font-Montserrat font-bold">Summary</p>
              </div>

              <p
                class="font-serif line-clamp-[7] lg:line-clamp-[10] text-gray-500 dark:text-gray-200">
                {{ with $v.Description }}
                  {{- . -}}
                {{ else }}
                  {{- .Summary -}}
                {{ end }}
              </p>
            </div>
          </div>
        {{ end }}

      </div>
    </div>
  </section>
{{ end }}
