{{ define "main" }}
  <section class="mt-38 flex w-full flex-col space-y-5">
    {{/* Hero Sections */}}
    <div
      class="mt-4 flex flex-col items-center justify-center space-y-5 p-4 lg:mt-12 lg:space-y-10">
      {{/* Logo & Name */}}
      <div x-data="{ isHeroName: false }" @click="isHeroName = !isHeroName">
        <div x-show="!isHeroName" class="h-32">
          <img
            x-show="!$store.darkMode.on"
            :class="{ 'hidden': $store.darkMode.on, 'block': !$store.darkMode.on }"
            class="hidden h-32"
            src="{{ .Site.Params.home.heroLogo }}"
            alt="" />
          <img
            x-show="$store.darkMode.on"
            :class="{ 'hidden': !$store.darkMode.on, 'block': $store.darkMode.on }"
            class="hidden h-32"
            src="{{ .Site.Params.home.heroDarkLogo }}"
            alt="" />
        </div>
        <div
          x-show="isHeroName"
          class="flex h-32 items-center rounded-full text-4xl font-bold dark:text-white">
          {{ .Site.Title }}
        </div>
      </div>
      {{/* Description */}}
      <div
        class="flex-wrap text-pretty text-center font-Oswald text-xl dark:text-gray-400">
        {{ .Site.Params.Description }}
      </div>
      {{/* Social Links */}}
      <div class="flex justify-center space-x-5">
        {{ partial "social_links.html" . }}
      </div>
    </div>
    {{/* Recent Posts */}}
    {{ $allPages := .Site.Pages }}
    {{ with .Site.Params.home.showContentTypes }}
      {{ $allPages = where $allPages "Type" "in" . }}
    {{ end }}
    {{ $lastestPosts := first 5 (where $allPages "IsPage" true) }}
    <div class="mx-auto flex flex-col space-y-1">
      {{ range $lastestPosts }}
        <div
          class="h-80 w-96 px-4 py-2 sm:w-[30rem] md:w-[32rem] lg:h-96 lg:w-[40rem]">
          <a href="{{ .Permalink }}" class="group relative block h-full w-full">
            <span
              class="absolute inset-0 border-2 border-dashed border-black dark:border-gray-400"></span>
            <div
              class="relative flex h-full transform items-end border-2 border-black bg-white/85 backdrop-blur-md transition-transform group-hover:-translate-x-2 group-hover:-translate-y-2 dark:border-gray-400 dark:bg-gray-800/70">
              <div
                class="p-4 !pt-0 transition-opacity group-hover:absolute group-hover:opacity-0 sm:p-6 lg:p-8">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="size-10 sm:size-12 dark:text-gray-400"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor">
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M3.055 11H5a2 2 0 012 2v1a2 2 0 002 2 2 2 0 012 2v2.945M8 3.935V5.5A2.5 2.5 0 0010.5 8h.5a2 2 0 012 2 2 2 0 104 0 2 2 0 012-2h1.064M15 20.488V18a2 2 0 012-2h3.064M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>

                <h2
                  class="mt-4 text-xl font-medium sm:text-2xl dark:text-gray-400">
                  {{ .Title }}
                </h2>
              </div>

              <div
                class="absolute p-4 opacity-0 transition-opacity group-hover:relative group-hover:opacity-100 sm:p-6 lg:p-8">
                <p class="font-serif mt-8 dark:text-gray-400">
                  {{ .Date.Format "2006/01/02" }}
                </p>
                <h3
                  class="mt-4 text-balance text-xl font-medium sm:text-2xl dark:text-gray-400">
                  {{ .Title }}
                </h3>

                <p
                  class="font-serif mt-4 line-clamp-1 text-pretty text-sm tracking-wider sm:text-base md:line-clamp-2 lg:line-clamp-3 xl:line-clamp-4 dark:text-gray-400">
                  {{ .Description }}
                </p>

                <p class="mt-8 font-bold dark:text-gray-400">Read more</p>
              </div>
            </div>
          </a>
        </div>
      {{ end }}
    </div>
  </section>
{{ end }}
