{{ define "main" }}
  <section class="mx-auto w-full grow">
    <div class="mx-auto flex w-full flex-col p-4 md:max-w-screen-md">
      {{ $pages := (where .Site.Pages "IsPage" true) }}
      {{ range ($pages.GroupByDate "2006") }}
        {{ if gt .Key 1 }}
          <div
            class="mb-4 rounded-lg border border-gray-600 p-5 dark:border-gray-600">
            {{ $.Scratch.Set "count" 1 }}
            {{ range .Pages }}
              {{ if (eq ($.Scratch.Get "count") 1) }}
                {{ $.Scratch.Set "count" 0 }}
                <span
                  class="hs-archive-year p-3 text-lg font-semibold text-gray-900 dark:text-white"
                  >{{ .Date.Format "2006" }}</span
                >
              {{ end }}
            {{ end }}


            <ol class="mt-3 rounded-lg">
              {{ range .Pages }}
                <li
                  class="group flex flex-col flex-wrap justify-start p-3 hover:rounded-lg hover:bg-gray-50 dark:hover:bg-gray-800 md:flex-row md:items-center">
                  <span class="hs-archive-date text-gray-500 dark:text-gray-300"
                    >{{ .Date.Format "01/02" }}</span
                  >
                  <a
                    href="{{ .RelPermalink }}"
                    class="hs-content-title hs-archive-title text-gray-800 group-hover:text-[--hs-text-color-hover] dark:text-gray-100 dark:group-hover:text-[--hs-text-color-hover-dark] md:pl-3">
                    {{ .Title }}
                  </a>
                </li>
              {{ end }}
            </ol>
          </div>
        {{ end }}
      {{ end }}
    </div>
  </section>
{{ end }}
