{{- define "title" }}{{ .Data.Plural }} | {{ .Site.Title }}{{ end -}}
{{- define "main" -}}
  {{ $bgImg := "/images/default/ffflurry.svg" }}
  {{ if eq .Data.Singular "tag" }}
    {{ $bgImg = "/images/default/ssscribble.svg" }}
  {{ end }}

  {{/* bg color */}}
  {{ $bgColors := slice "#0B9B8A" "#F596A1" "#FADEEB" "#C4E1F6" "#F9C975" }}
  {{ $bgColorsNumbs := len $bgColors }}

  {{ $terms := .Pages }}
  {{ $termsNumbs := len $terms }}
  {{ $gridCols := printf "%s" "grid-cols-6" }}
  {{ if lt $termsNumbs 6 }}
    {{ $gridCols = printf "grid-cols-%d" $termsNumbs }}
  {{ end }}


  <div
    class="lg:{{ $gridCols }} mx-auto grid max-w-7xl grid-flow-dense auto-rows-[minmax(100px,_2fr)] gap-5 px-10 py-10"
  >
    {{ range $idx, $term := $terms }}
      {{/* col-span / row-span */}}
      {{ $colSpan := printf "%s" "col-span-1" }}
      {{ $rowSpan := printf "%s" "row-span-1" }}
      {{ if le $idx 2 }}
        {{ $colSpan = printf "%s" "col-span-2" }}
      {{ end }}
      {{ if and (eq $idx 1) (gt $termsNumbs 4) }}
        {{ $rowSpan = printf "%s" "row-span-2" }}
      {{ end }}

      {{/* bg color */}}
      {{ $modValue := mod $idx $bgColorsNumbs }}
      {{ $bgColor := index $bgColors $modValue }}

      {{ $textColor := printf "%s" "text-white" }}
      {{ $svgBgColor := printf "%s" "bg-gray-200" }}
      {{ $svgFill := printf "%s" "#000000" }}
      {{ if eq $idx 1 }}
        {{ $svgFill = printf "%s" "#FFFFFF" }}
        {{ $bgColor = "#06083d" }}
      {{ end }}


      <div
        {{ if eq $idx 1 }}style="background-image: url('{{ $bgImg }}')"{{ end }}
        class="{{ $colSpan }} {{ $rowSpan }} {{ if eq $idx 1 }}
          {{ $textColor }}
        {{ end }} flex flex-col justify-between rounded-2xl bg-[{{ $bgColor }}]"
      >
        <div class="mx-3 my-1.5 flex flex-row items-center space-x-1">
          <svg
            class="icon"
            width="15px"
            height="15px"
            viewBox="0 0 1024 1024"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill="{{ $svgFill }}"
              d="M1019.904 450.56L536.576 557.056l417.792 208.896C999.424 692.224 1024 606.208 1024 512c0-20.48 0-40.96-4.096-61.44z m-12.288-61.44C958.464 184.32 786.432 28.672 573.44 4.096L446.464 512l561.152-122.88zM737.28 970.752c73.728-36.864 139.264-90.112 188.416-159.744L507.904 602.112l229.376 368.64zM512 0C229.376 0 0 229.376 0 512s229.376 512 512 512c61.44 0 118.784-12.288 172.032-28.672L385.024 512 512 0z"
            />
          </svg>
          <p>{{ len .Pages }}</p>
        </div>

        <div class="relative mx-3 mb-2 flex flex-row items-end justify-between space-x-1">
          <a href="{{ .RelPermalink }}" class="hover:text-blue-700"
            ><p class="basis-3/4 text-lg font-bold">{{ .LinkTitle }}</p></a
          >
          <a
            class="{{ if eq $idx 1 }}
              {{ $svgBgColor }}
            {{ end }} absolute bottom-1 right-0 rounded-full hover:transform hover:bg-white hover:duration-500"
            href="{{ .RelPermalink }}"
          >
            <svg
              class=""
              width="20px"
              height="20px"
              viewBox="0 0 1024 1024"
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill="#000000"
                d="M708.266667 401.066667V597.333333h85.333333V256h-341.333333v85.333333h196.266666L256 733.866667l59.733333 59.733333 392.533334-392.533333z"
              />
            </svg>
          </a>
        </div>
      </div>
    {{ end }}
  </div>
{{- end }}
