{{- define "title" }}{{ .Data.Plural }} | {{ .Site.Title }}{{ end -}}
{{- define "main" -}}
  {{/* bg color */}}
  {{ $bgColors := slice "#0B9B8A" "#F596A1" "#FADEEB" "#C4E1F6" "#F9C975" }}
  {{ $bgColorsNumbs := len $bgColors }}


  <div class="mx-auto flex w-full max-w-250 grow flex-col">
    <div
      class="grid grid-flow-dense auto-rows-[minmax(100px,_2fr)] grid-cols-2 gap-5 px-10 py-10 md:grid-cols-4 lg:grid-cols-6">
      {{ range $idx, $term := .Pages }}

        {{/* bg color */}}
        {{ $modValue := mod $idx $bgColorsNumbs }}
        {{ $bgColor := index $bgColors $modValue }}


        <a
          href="{{ .Permalink }}"
          class="hs-taxonomy group col-span-1 row-span-1 flex transform flex-col justify-between rounded-2xl bg-[{{ $bgColor }}] drop-shadow-xl duration-300 hover:scale-110 hover:drop-shadow-xl">
          <div class="mx-3 my-1.5 flex flex-row items-center space-x-1">
            <svg
              class="icon"
              width="15px"
              height="15px"
              viewBox="0 0 1024 1024"
              version="1.1"
              xmlns="http://www.w3.org/2000/svg">
              <path
                fill="#000000"
                d="M1019.904 450.56L536.576 557.056l417.792 208.896C999.424 692.224 1024 606.208 1024 512c0-20.48 0-40.96-4.096-61.44z m-12.288-61.44C958.464 184.32 786.432 28.672 573.44 4.096L446.464 512l561.152-122.88zM737.28 970.752c73.728-36.864 139.264-90.112 188.416-159.744L507.904 602.112l229.376 368.64zM512 0C229.376 0 0 229.376 0 512s229.376 512 512 512c61.44 0 118.784-12.288 172.032-28.672L385.024 512 512 0z" />
            </svg>
            <p class="hs-taxonomy-number-">{{ len .Pages }}</p>
          </div>

          <div
            class="relative mx-3 mb-2 flex flex-row items-end justify-between space-x-1 group-hover:text-[--hs-text-color-hover]">
            <p class="hs-taxonomy-title text-pretty">
              {{ .LinkTitle }}
            </p>
          </div>
        </a>
      {{ end }}
    </div>
  </div>
{{- end }}
